ul li {
    list-style: none;
}

body {
    background-color: rgb(238, 236, 236);
}

img {
    width: 500px;
    height: 300px;
}

#Home>h1 {
    font-weight: bolder;
    font-size: 50px;
}

#Branches>p {
    font-size: 40px;
    font-weight: bolder;
}

#Branches>ul>li {
    list-style: circle;
}

#Contact {
    background-color: rgb(208, 200, 253);
}